@keyframes leafAnimation {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-10px) rotate(10deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }
  
  .animate-leaf {
    animation: leafAnimation 6s infinite ease-in-out;
  }

  .back{
background: rgb(21,24,35);
background: linear-gradient(90deg, rgba(21,24,35,1) 0%, rgba(9,9,121,1) 35%, rgba(29,33,43,1) 100%);
  }

  body{
    background: rgb(21,24,35);  
    background: linear-gradient(90deg, rgba(21,24,35,1) 0%, rgba(9,9,121,1) 35%, rgba(29,33,43,1) 100%);
  }